* text=auto eol=lf
*.[cC][mM][dD] text eol=crlf
*.[bB][aA][tT] text eol=crlf
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.json merge=json
CHANGELOG.md export-ignore
*.yaml merge=yaml
*.yml merge=yaml
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
.devcontainer export-ignore
.github export-ignore
.vscode export-ignore
.agents export-ignore
.claude export-ignore
.gemini export-ignore
